<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" th:href="@{/static/css/layui.css}">
    <script th:src="@{/static/js/layui.js}"></script>
    <!--    <script th:src="@{/static/js/jquery-3.5.1.min_2.js}"></script>-->
    <link rel="stylesheet" th:href="@{/static/icon_1/iconfont.css}">
    <link rel="stylesheet" th:href="@{/static/css/modules/layer/default/layer.css}">
    <link rel="stylesheet" th:href="@{/static/css/modules/code.css}">
    <link rel="stylesheet" th:href="@{/static/css/modules/laydate/default/laydate.css}">
    <style>

        .webkit::-webkit-scrollbar {
            /*滚动条整体样式*/
            width: 4px; /*高宽分别对应横竖滚动条的尺寸*/
            height: 4px;
        }

        .webkit::-webkit-scrollbar-thumb {
            /*滚动条里面小方块样式*/
            border-radius: 5px;
            -webkit-box-shadow: inset 0 0 5px rgba(246, 244, 244, 0.2);
            background: #535252;
        }

    </style>
</head>

<style>
    span {
        font-weight: 100;
    }

    ul .iconfont {
        font-size: 14px;
        color: #1E9FFF;
    }
</style>

<body class="webkit" style="background-color: #f3f3f4 ">
<!--菜单-->
<div class="layui-bg-gray" style="padding: 10px;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-panel" style="border-radius: 10px">
                <div>
                    <div>

                        <div class="layui-btn-container" style="padding-left: 20px;padding-top: 10px">
                            <form>


                                <button class="layui-btn layui-btn" id="add" style="border-radius: 10px" type="button">
                                    <i class="iconfont icon-zengjia"></i>&nbsp;新增
                                </button>
                                <!--                                <button class="layui-btn layui-btn-normal" style="border-radius: 10px" type="button"><i-->
                                <!--                                        class="iconfont icon-web-icon-"></i>&nbsp;编辑-->
                                <!--                                </button>-->
                                <!--                                <button class="layui-btn layui-btn-danger" style="border-radius: 10px" type="button"><i-->
                                <!--                                        class="iconfont icon-shanchu"></i>&nbsp;删除-->
                                <!--                                </button>-->
                            </form>
                        </div>

                        <!--                        头部-->
                        <div class="layui-row"
                             style="padding-left: 30px;height: 40px;background-color:#e5ebf8;margin: auto; padding-top: 20px">
                            <div class="layui-col-xs1">
                                <div class="grid-demo grid-demo-bg1">菜单名称</div>
                            </div>
                            <div class="layui-col-xs1">
                                <div class="grid-demo">.</div>
                            </div>
                            <div class="layui-col-xs1">
                                <div class="grid-demo grid-demo-bg1">关系</div>
                            </div>
                            <div class="layui-col-xs2">
                                <div class="grid-demo">请求地址</div>
                            </div>
                            <div class="layui-col-xs1">
                                <div class="grid-demo">类型</div>
                            </div>
                            <div class="layui-col-xs1">
                                <div class="grid-demo">可见</div>
                            </div>
                            <div class="layui-col-xs1">
                                <div class="grid-demo grid-demo-bg1">.</div>
                            </div>
                            <div class="layui-col-xs1">
                                <div class="grid-demo">权限识别</div>
                            </div>
                            <div class="layui-col-xs1">
                                <div class="grid-demo">.</div>
                            </div>
                            <div class="layui-col-xs2">
                                <div class="grid-demo grid-demo-bg1">操作</div>
                            </div>

                        </div>
                        <hr/>
                        <ul>
                            <li style="padding-bottom: 4px" th:each="s:${list}">
                                <div class="layui-collapse" lay-accordion="">
                                    <div class="layui-colla-item">
                                        <div class="layui-row layui-colla-title"
                                             style="padding-left: 30px;height: 40px;margin: auto;">
                                            <div class="layui-col-xs1">
                                                <div class="grid-demo grid-demo-bg1">&nbsp;<i
                                                        th:class="${s.m_icon}"></i>&nbsp; <span style="font-weight: 100"
                                                                                                th:text="${s.m_name}"></span>
                                                </div>
                                            </div>
                                            <div class="layui-col-xs1">
                                                <div class="grid-demo">.</div>
                                            </div>
                                            <div class="layui-col-xs1">
                                                <div class="grid-demo grid-demo-bg1" th:text="${s.m_number}"></div>
                                            </div>
                                            <div class="layui-col-xs2">
                                                <div class="grid-demo" th:text="${s.m_url}"></div>
                                            </div>
                                            <div class="layui-col-xs1">
                                                <!--                                                类型-->
                                                <div class="grid-demo"><span class="layui-badge layui-bg-blue"
                                                                             th:text="${s.m_type}"></span>
                                                </div>
                                            </div>
                                            <div class="layui-col-xs1">
                                                <div class="grid-demo">
                                                    <span class="layui-badge  layui-bg-blue"
                                                          style="border-radius: 10px"
                                                          th:if="${s.m_vital}==0">显示</span>
                                                    <span class="layui-badge "
                                                          style="border-radius: 10px"
                                                          th:if="${s.m_vital} == 1">隐藏</span>

                                                </div>
                                            </div>
                                            <div class="layui-col-xs1">
                                                <div class="grid-demo grid-demo-bg1">.</div>
                                            </div>
                                            <div class="layui-col-xs2">
                                                <div class="grid-demo" th:text="${s.m_competence}">.</div>
                                            </div>


                                            <div class="layui-col-xs2">
                                                <div class="grid-demo grid-demo-bg1" style="color: white">
                                                    <span class="layui-badge layui-bg-blue" id="m_edit"
                                                          th:value="${s.m_id}"><i class="iconfont icon-web-icon-"
                                                                                  style="color: white"></i>&nbsp;编辑</span>&nbsp;&nbsp;
                                                    <!--                                                    <span class="layui-badge layui-bg-green" id="m_inset"-->
                                                    <!--                                                          th:value="${s.m_id}"><i class="iconfont icon-zengjia"-->
                                                    <!--                                                                                  style="color: white"></i>&nbsp;新增</span>&nbsp;&nbsp;-->
                                                    <span class="layui-badge" id="m_delete" th:value="${s.m_number}"><i
                                                            class="iconfont icon-shanchu" style="color: white"></i>&nbsp;删除</span>&nbsp;&nbsp;
                                                </div>
                                            </div>
                                        </div>

                                        <div class="layui-colla-content ">
                                            <dl th:each="t:${s.list}">
                                                <dd style="padding-bottom: 7px">
                                                    <div class="layui-bg-gray">
                                                        <div class="layui-row">
                                                            <div class="layui-col-md12">
                                                                <div class="layui-panel">
                                                                    <div style="">
                                                                        <div class="layui-row"
                                                                             style="padding-left: 30px;height: 34px;margin: auto;padding-top: 10px ">
                                                                            <div class="layui-col-xs1">
                                                                                <div class="grid-demo grid-demo-bg1"><i
                                                                                        th:class="${t.con_icon}">&nbsp;<span
                                                                                        style="font-weight: 100"
                                                                                        th:text="${t.con_name}"></span></i>
                                                                                </div>
                                                                            </div>
                                                                            <div class="layui-col-xs1">
                                                                                <div class="grid-demo">.</div>
                                                                            </div>
                                                                            <div class="layui-col-xs1">
                                                                                <div class="grid-demo grid-demo-bg1"
                                                                                     th:text="${t.con_number}"></div>
                                                                            </div>
                                                                            <div class="layui-col-xs2">
                                                                                <div class="grid-demo"
                                                                                     style="color: #1E9FFF"
                                                                                     th:text="${t.con_url}"></div>
                                                                            </div>
                                                                            <div class="layui-col-xs1">
                                                                                <div class="grid-demo"><span
                                                                                        class="layui-badge layui-bg-green"
                                                                                        th:text="${t.con_type}"></span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="layui-col-xs1">
                                                                                <div class="grid-demo">



                                                                                    <span class="layui-badge layui-bg-blue"
                                                                                          style="border-radius: 10px"
                                                                                          th:if="${t.con_vital}==0">显示</span>
                                                                                    <span class="layui-badge"
                                                                                          style="border-radius: 10px"
                                                                                          th:if="${t.con_vital} == 1">隐藏</span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="layui-col-xs1">
                                                                                <div class="grid-demo grid-demo-bg1">.
                                                                                </div>
                                                                            </div>
                                                                            <div class="layui-col-xs1">
                                                                                <div class="grid-demo"
                                                                                     th:text="${t.con_competence}"></div>
                                                                            </div>
                                                                            <div class="layui-col-xs1">
                                                                                <div class="grid-demo">.</div>
                                                                            </div>
                                                                            <div class="layui-col-xs2">
                                                                                <div class="grid-demo grid-demo-bg1"
                                                                                     th:if="${t.con_name == '菜单管理'}">
                                                                                    <span class="layui-badge layui-bg-blue layui-btn-disabled"
                                                                                          id="con_edit"
                                                                                          th:value="${t.con_id}"><i
                                                                                            class="iconfont icon-web-icon- "
                                                                                            style="color: white"></i>&nbsp;编辑</span>
                                                                                    <!--                                                                                    <span class="layui-badge layui-bg-green"><i></i>新增</span>-->
                                                                                    &nbsp;
                                                                                    <span class="layui-badge layui-btn-disabled"
                                                                                          id="con_delete"
                                                                                          th:value="${t.con_id}"><i
                                                                                            class="iconfont icon-shanchu"
                                                                                            style="color: white"></i>&nbsp;删除</span>

                                                                                </div>

                                                                                <div class="grid-demo grid-demo-bg1"
                                                                                     th:if="${t.con_name != '菜单管理'}">
                                                                                    <span class="layui-badge layui-bg-blue "
                                                                                          id="con_edit"
                                                                                          th:value="${t.con_id}"><i
                                                                                            class="iconfont icon-web-icon- "
                                                                                            style="color: white"></i>&nbsp;编辑</span>
                                                                                    <!--                                                                                    <span class="layui-badge layui-bg-green"><i></i>新增</span>-->
                                                                                    &nbsp;
                                                                                    <span class="layui-badge "
                                                                                          id="con_delete"
                                                                                          th:value="${t.con_id}"><i
                                                                                            class="iconfont icon-shanchu"
                                                                                            style="color: white"></i>&nbsp;删除</span>

                                                                                </div>
                                                                            </div>

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </dd>
                                            </dl>

                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
<!--新增弹出层-->
<div class="site-text" id="window" style="margin: 5%; display: none" target="test123">
    <form class="layui-form" id="book" lay-filter="example" method="post">

        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red;">*</span>上级菜单：</label>
            <div class="layui-input-block">
                <select id="x_name" lay-filter="aihao" name="x_name">
                    <option value="0">新建目录</option>
                    <option th:each="n:${list}" th:text="${n.m_name}" th:value="${n.m_number}"></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜单类型：</label>
            <div class="layui-input-block">
                <input checked="" name="type" title="目录" type="radio" value="目录">
                <input name="type" title="菜单" type="radio" value="菜单">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red;">*</span>目录(菜单) 名称：</label>
            <div class="layui-input-block">
                <input class="layui-input" id="name" name="name" type="text">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">请求地址：</label>
            <div class="layui-input-block">
                <input class="layui-input" id="url" name="url" type="text">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">权限识别：</label>
            <div class="layui-input-block">
                <input class="layui-input" id="competence" name="competence" type="text">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">显示状态：</label>
            <div class="layui-input-block">
                <input checked="" name="vital" title="显示" type="radio" value="0">
                <input name="vital" title="隐藏" type="radio" value="1">
            </div>
        </div>
    </form>
</div>
<!--目录修改-->
<div class="site-text" id="m_update" style="margin: 5%; display: none" target="test123">
    <form class="layui-form" lay-filter="example" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red;">*</span>目录名称：</label>
            <div class="layui-input-block">
                <input class="layui-input" id="m_name" name="m_name" type="text">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red;">*</span>显示状态：</label>
            <div class="layui-input-block">
                <input checked="" name="m_vital" title="显示" type="radio" value="0">
                <input name="m_vital" title="隐藏" type="radio" value="1">
            </div>
        </div>
    </form>
</div>
<!--菜单修改-->
<div class="site-text" id="con_update" style="margin: 5%; display: none" target="test123">
    <form class="layui-form" lay-filter="example" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red;">*</span>目录名称：</label>
            <div class="layui-input-block">
                <input class="layui-input" id="con_name" name="con_name" type="text">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red;">*</span>请求地址：</label>
            <div class="layui-input-block">
                <input class="layui-input" id="con_url" name="con_url" type="text">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red;">*</span>权限识别：</label>
            <div class="layui-input-block">
                <input class="layui-input" id="con_competence" name="con_competence" type="text">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span style="color:red;">*</span>显示状态：</label>
            <div class="layui-input-block">
                <input checked="" name="con_vital" title="显示" type="radio" value="0">
                <input name="con_vital" title="隐藏" type="radio" value="1">
            </div>
        </div>
    </form>
</div>

<!--</script>-->


<!--下拉列表-->
<script>


    layui.use('table', function () {
        var table = layui.table,
            dropdown = layui.dropdown;

        dropdown.render({
            elem: '#text_label'
            , data: [{
                title: '所在'
            }, {
                title: '显示'
            }, {
                title: '隐藏'
            }]
            , click: function (obj) {
                this.elem.val(obj.title);
            }
            , style: 'width: 200px;'
        });
    })

</script>

<!--新增-->
<script>

    layui.use(function () {
        var layer = layui.layer
            , form = layui.form
            , $ = layui.jquery;

        $("#add").click(function () {
            console.log("000000000000000")
            layer.open({
                type: 1,
                title: "页面新增",
                area: ["700px", "600px"],
                btn: ['提交', '取消'], //可以无限个按钮
                Number: 9000000,   //自动关闭的时间
                anim: 2,
                maxmin: true, // 最大最小化。
                resize: true, // 是否允许拉伸
                content: $('#window'), //添加表单到弹出层
                yes: function (index) {
                    console.log("aaaaaaaaaaaaaaa")
                    let x_name = $("#x_name").val();            //上级目录
                    let type = $('input[name="type"]:checked').val();                //类型
                    let name = $("#name").val();                //名字
                    let url = $("#url").val();                  //链接
                    let competence = $("#competence").val();    //权限
                    console.log(competence);
                    console.log(x_name);
                    let vital = $('input[name="vital"]:checked').val();              //可见
                    console.log(type);
                    console.log(vital);
                    $.ajax({
                        type: "GET",
                        url: "/menu/insert?x_name=" + x_name + "&type=" + type + "&name=" + name + "&url=" + url + "&competence=" + competence + "&vital=" + vital,
                        async: true,
                        dataType: "json",
                        contentType: "application/json;charset=UTF-8",
                        success: function (sre) {
                            console.log(sre.msg);
                            layer.msg(sre.msg);
                            if (sre.bool === true) {
                                setTimeout(function () {
                                    window.location.reload();  //刷新页面
                                }, 800);
                            }
                        }
                    })
                },
            });

        });


    });
</script>

<script>

    layui.use(function () {
        var layer = layui.layer
            , $ = layui.jquery;


        //菜单修改
        $(document).on('click', '#con_edit', function () {

            console.log("222222222222222222222222222222222");
            let con_number = $(this).attr("value");
            console.log(con_number);
            $.ajax({
                type: "GET",
                url: "/menu/con_update?con_number=" + con_number,
                async: true,
                dataType: "json",
                contentType: "application/json;charset=UTF-8",
                success: function (sre) {
                    $("#con_name").attr("value", sre.data.con_name);
                    $("#con_url").attr("value", sre.data.con_url);
                    $("#con_competence").attr("value", sre.data.con_competence);
                    console.log(sre);
                    if (sre.bool === true) {
                        layer.open({
                            type: 1,
                            title: "菜单修改",
                            area: ["450px", "400px"],
                            btn: ['提交', '取消'], //可以无限个按钮
                            Number: 900000,   //自动关闭的时间
                            anim: 2,
                            maxmin: true, // 最大最小化。
                            resize: true, // 是否允许拉伸
                            content: $('#con_update'), //添加表单到弹出层
                            yes: function (index) {
                                let con_name = $("#con_name").val();
                                let con_url = $("#con_url").val();
                                let con_competence = $("#con_competence").val();
                                if (con_url === "#") {
                                    con_url = "";
                                }
                                if (con_competence === "#") {
                                    con_competence = "";
                                }
                                let con_vital = $('input[name="con_vital"]:checked').val();
                                console.log({
                                    con_name: con_name,
                                    con_url: con_url,
                                    con_competence: con_competence,
                                    con_vital: con_vital
                                });

                                $.ajax({
                                    type: "GET",
                                    url: "/menu/con_update/data?con_name=" + con_name + "&con_url=" + con_url + "&con_competence=" + con_competence + "&con_vital=" + con_vital + "&con_id=" + sre.data.con_id,
                                    async: true,
                                    dataType: "json",
                                    contentType: "application/json;charset=UTF-8",
                                    success: function (sre) {
                                        if (sre.bool === true) {
                                            layer.msg(sre.msg, {icon: 1})
                                            setTimeout(function () {
                                                window.location.reload();  //刷新页面
                                            }, 800);
                                        } else {
                                            layer.msg(sre.msg, {icon: 2})
                                        }
                                    }
                                })
                            }
                        })
                    } else {
                        layer.msg(sre.msg, {icon: 0})
                    }
                }
            })

        })
        //菜单删除
        $(document).on('click', '#con_delete', function () {

            console.log("1111111111111111");
            let con_id = $(this).attr("value");
            console.log(con_id);
            layer.confirm('你确定要删除该菜单吗', {
                icon: 5,
                btn: ['确定', '取消'] //按钮
            }, function () {
                $.ajax({
                    type: "GET",
                    url: "/menu/con_delete?con_id=" + con_id,
                    async: true,
                    dataType: "json",
                    contentType: "application/json;charset=UTF-8",
                    success: function (sre) {
                        if (sre.bool === true) {
                            layer.msg(sre.msg, {icon: 6});
                            setTimeout(function () {
                                window.location.reload();  //刷新页面
                            }, 800);
                        } else {
                            layer.msg(sre.msg);
                        }
                    }
                })
            }, function () {
                layer.msg("感谢手下留情");
            });

        })
        //对目录进行操作
        //修改
        $(document).on('click', '#m_edit', function () {

            console.log("5555555555555555-");
            let m_number = $(this).attr("value");
            console.log(m_number);
            $.ajax({
                type: "GET",
                url: "/menu/m_update?m_number=" + m_number,
                async: true,
                dataType: "json",
                contentType: "application/json;charset=UTF-8",
                success: function (sre) {
                    console.log(sre);
                    $("#m_name").attr("value", sre.data.m_name);
                    console.log(sre.date);
                    if (sre.bool === true) {
                        layer.open({
                            type: 1,
                            title: "目录修改",
                            area: ["450px", "270px"],
                            btn: ['提交', '取消'], //可以无限个按钮
                            Number: 900000,   //自动关闭的时间
                            anim: 2,
                            maxmin: true, // 最大最小化。
                            resize: true, // 是否允许拉伸
                            content: $('#m_update'), //添加表单到弹出层
                            yes: function (index) {
                                let m_name = $("#m_name").val();
                                let m_vital = $('input[name="m_vital"]:checked').val();
                                $.ajax({
                                    type: "GET",
                                    url: "/menu/m_update/data?m_name=" + m_name + "&m_vital=" + m_vital + "&m_number=" + sre.data.m_number,
                                    async: true,
                                    dataType: "json",
                                    contentType: "application/json;charset=UTF-8",
                                    success: function (sre) {
                                        if (sre.bool === true) {
                                            layer.msg(sre.msg, {icon: 1})
                                            setTimeout(function () {
                                                window.location.reload();  //刷新页面
                                            }, 800);
                                        } else {
                                            layer.msg(sre.msg, {icon: 2})
                                        }
                                    }
                                })
                            }
                        })
                    } else {
                        layer.msg(sre.msg, {icon: 0})
                    }
                    // layer.msg(sre.msg);
                }
            })
        })
        // 目录删除
        $(document).on('click', '#m_delete', function () {

            console.log("3333333333-=");
            let m_number = $(this).attr("value");
            console.log(m_number);

            layer.confirm('你确定要删除该目录吗<br/>下级菜单也会被删除哦', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                $.ajax({
                    type: "GET",
                    url: "/menu/m_delete?m_number=" + m_number,
                    async: true,
                    dataType: "json",
                    contentType: "application/json;charset=UTF-8",
                    success: function (sre) {
                        if (sre.bool === true) {
                            layer.msg(sre.msg, {icon: 6});
                            setTimeout(function () {
                                window.location.reload();  //刷新页面
                            }, 800);
                        } else {
                            layer.msg(sre.msg);
                        }
                    }
                })
            }, function () {
                layer.msg("感谢手下留情");
            });


        })
    })
</script>
</html>



