<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>失物招领后台</title>
    <link rel="stylesheet" th:href="@{/static/css/layui.css}">
    <script th:src="@{/static/js/layui.js}"></script>
    <link rel="icon" th:href="@{/static/image/img.png}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/static/icon_1/iconfont.css}">

</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo layui-hide-xs" style="font-size: 20px">招领系统后台管理</div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">

            <li class="layui-nav-item layadmin-flexible " id="kit-side-fold" lay-unselect>
                <a layadmin-event="flexible" title="侧边伸缩">
                    <i class="layui-icon layui-icon-shrink-right" style="color: white"></i>
                </a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-md-inline-block">
                <a>
                    <img class="layui-nav-img"
                         style="border-radius: 50%; width: 40px;height: 40px; border: 1px cornflowerblue solid; "
                         th:if="${user.user_image} != ''" th:src="${user.user_image}">
                    <img class="layui-nav-img" src="../../../static/image/img.png"
                         style="border-radius: 50%; width: 40px;height: 40px; border: 2px cornflowerblue solid;"
                         th:if="${user.user_image} == ''">
                    <span style="font-size: 16px;" th:text="${user.user_name}"></span>
                </a>
                <dl class="layui-nav-child">
                    <!--                    <dd><a href="">个人中心</a></dd>-->
                    <!--                    <dd><a href="">Settings</a></dd>-->
                    <dd><a href="">退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>
    <!--    侧边菜单-->
    <div class="layui-side layui-bg-black layui-side-menu sh">
        <div class="layui-side-scroll" lay-filter="test">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item " th:each="s : ${list}">
                    <a lay-direction="2" th:href="${s.m_url}" th:title="${s.m_name}"><i th:class="${s.m_icon}"></i>&nbsp;<span><cite
                            th:text="${s.m_name}"></cite></span></a>
                    <dl class="layui-nav-child" th:each="t:${s.list}">
                        <!--                        <dd><a href="https://www.nowcoder.com/index"><i class="fa fa-list fa-lg " ><span th:text="${t.con_name}">sdfd</span></i></a></dd>-->
                        <dd><a th:href="${t.con_url}" th:title="${t.con_name}">&nbsp;&nbsp;<i th:class="${t.con_icon}">&nbsp;<span
                                th:text="${t.con_name}"></span></i></a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style=" height: 890px">
            <iframe frameborder="no" id="iframe" src="/sys/administrator.action"
                    style="width: 100%; height:100%"></iframe>
        </div>
    </div>


</div>
<!--侧边菜单栏收缩-->
<script>
    //JavaScript代码区域
    layui.use(function () {
        var $ = layui.jquery;
        var isShow = true;  //定义一个标志位
        $("#kit-side-fold").click(function () {
            //选择出所有的span，并判断是不是hidden

            // console.log("==============================================")
            $('.layui-nav-item span').each(function () {
                if ($(this).is(':hidden')) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
            //判断isshow的状态
            if (isShow) {
                $('.layui-side.sh').width(60); //设置宽度
                $('.kit-side-fold i').css('margin-right', '70%');  //修改图标的位置
                //将footer和body的宽度修改
                $('.layui-body').css('left', 60 + 'px');
                $('.layui-footer').css('left', 60 + 'px');
                //将二级导航栏隐藏
                $('dd span').each(function () {
                    $(this).hide();
                });
                //修改标志位
                isShow = false;
            } else {
                $('.layui-side.layui-bg-black').width(200);
                $('.kit-side-fold i').css('margin-right', '10%');
                $('.layui-body').css('left', 200 + 'px');
                $('.layui-footer').css('left', 200 + 'px');
                $('dd span').each(function () {
                    $(this).show();
                });
                isShow = true;
            }
        });
    });


</script>


<script>
    //JS
    layui.use(['element', 'layer', 'util'], function () {
        var element = layui.element
            , layer = layui.layer
            , util = layui.util
            , $ = layui.$;

        //头部事件
        util.event('lay-header-event', {
            //左侧菜单事件
            menuLeft: function (othis) {
                layer.msg('展开左侧菜单的操作', {icon: 0});
            }
            , menuRight: function () {
                layer.open({
                    type: 1
                    , content: '<div style="padding: 15px;">处理右侧面板的操作</div>'
                    , area: ['260px', '100%']
                    , offset: 'rt' //右上角
                    , anim: 5
                    , shadeClose: true
                });
            }
        });

    });
</script>
<!--保持刷新还在原来的页面-->
<script>
    layui.use(['element', 'layer', 'util'], function () {
        var $ = layui.$;
        let href_url = sessionStorage.getItem("url1")
        if (href_url === null) {
            href_url = "https://gitee.com/";
        }
        if (href_url !== null || href_url === "" || href_url !== undefined) {
            $("#iframe").attr('src', href_url);
        }
        $(document).ready(function () {
            $("dd a").click(function (e) {
                e.preventDefault();
                if ($(this).attr("href") !== "" && $(this).attr("href") !== undefined) {
                    sessionStorage.setItem("url1", $(this).attr("href"));
                    $("#iframe").attr('src', $(this).attr("href"));
                }
            })
        })
    });
</script>
</body>
</html>