<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <style>
        #ha {
            border: 1px solid #dfdfdf;
        }

        #ha:hover {
            border: 1px solid #F40;
        }

        #inp:hover {
            background-color: #1E9FFF;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }

        #inp:hover span {
            color: white;
        }

        #log_div:hover {
            border: 1px #1E9FFF solid;
            color: #1E9FFF;
        }

        .footer {
            height: 100px;
            width: 100%;
            background-color: #ddd;
            position: relative;
            bottom: 0;
        }

    </style>
    <link rel="stylesheet" th:href="@{/static/css/layui.css}">
    <script th:src="@{/static/js/jquery-3.5.1.min_2.js}"></script>
    <script th:src="@{/static/js/jquery.cookie.js}"></script>
    <script th:src="@{/static/js/cookie.js}"></script>
    <script th:src="@{/static/js/layui.js}"></script>
    <script th:src="@{/static/js/md5.js}"></script>
    <link rel="stylesheet" th:href="@{/static/icon_1/iconfont.css}">
    <link rel="stylesheet" th:href="@{/static/css/modules/layer/default/layer.css}">
    <link rel="stylesheet" th:href="@{/static/css/modules/code.css}">
    <link rel="stylesheet" th:href="@{/static/css/modules/laydate/default/laydate.css}">
    <link rel="icon" th:href="@{/static/image/zl.png}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/static/css/scroll.css}">


</head>
<body class="webkit" style="background-color: white;min-width: 1500px;">
<div style="">
    <div class="layui-row" style="margin-top: 0;min-height: 810px;">
        <div class="layui-col-xs1">
            <div class="grid-demo grid-demo-bg1" style="color: white;">.</div>
        </div>
        <div class="layui-col-xs10">
            <div class="grid-demo" style="background-color: white">
                <!--            检索栏-->
                <div class="layui-row">
                    <div class="layui-col-xs3">
                        <div class="grid-demo grid-demo-bg3">
                            <div style="FONT-SIZE: 30pt; FILTER: dropshadow(color=#228B22,offX=5,offY=3,Positive=1);
                        WIDTH: 100%; color: #1E9FFF; LINE-HEIGHT: 150%; FONT-FAMILY: 华文行楷"><strong><img height="50"
                                                                                                        style="border-radius: 50%"
                                                                                                        th:src="@{/static/image/zl.png}"
                                                                                                        width="50"/>招领网</strong>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs7">
                        <div class="grid-demo">
                            <div class="layui-form-item">
                                <div class="layui-input-block" style="margin-top: 15px;margin-left: 70px">
                                    <div id="inp" style="z-index: 99;position:absolute; height: 38px; width: 37px;top: 0;left: 515px;border-top-right-radius: 20px;
                                border-bottom-right-radius: 20px;color: #1E9FFF;">
                                        <span class="iconfont icon-sousuo" style="width: 100%;height: 100%; font-size: 25px;font-weight: bolder;
                                        display: inline-block;vertical-align: middle;margin-top: 6px;margin-left: 3px; "></span>
                                    </div>
                                    <label>
                                        <select id="test" name="city" style="background-color: #f3f6f8;z-index: 99;position:absolute; height: 38px; width: 90px;
                                    border-top-left-radius: 20px; border-bottom-left-radius: 20px;text-align: center;border-top: 1px solid #dfdfdf;
                                    border-bottom: 1px solid #dfdfdf;border-left: 1px solid #dfdfdf;border-right: 0;"
                                                title="类型">
                                            <option value="">全部内容</option>
                                            <option th:each="s : ${lab_list}" th:text="${s.lab_name}"
                                                    th:value="${s.lab_name}">
                                            </option>
                                        </select>
                                        <select id="time" name="city" style="background-color: #f3f6f8;z-index: 99;position:absolute; height: 38px; width: 80px;left: 90px;
                                    text-align: center;border: 1px solid #dfdfdf;" title="时间">
                                            <option value="">全部</option>
                                            <option value="1">今天</option>
                                            <option value="7">7天内</option>
                                            <option value="15">半月内</option>
                                            <option value="30">1月内</option>
                                            <option value="365">1年内</option>
                                            <option value="366">1年前</option>
                                        </select>
                                        <input id="text" placeholder="请输入物品名、地名、姓名，等关键字" style="height: 36px;  background-color: #f3f6f8;
                                   border: 1px solid #dfdfdf;width: 550px;border-radius: 20px;text-indent: 13em;z-index: -1;"
                                               type="text">
                                    </label>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs2">
                        <div class="grid-demo">
                            <div>
                                <!--                            <span class="iconfont icon-gonggao " style=" z-index: 99;position:absolute;font-size: 22px;color: black;display: inline-block;vertical-align: middle;float: left;margin-top: 30px;margin-left: 170px;" title="公告"></span>-->
                                <!--                                <span class="layui-badge-dot" style=" z-index: 99;position:absolute;font-size: 22px;color: black;display: inline-block; vertical-align: middle;float: left;margin-top: 26px;margin-left: 192px;"></span>-->
                            </div>
                            <div id="img" style="float: right;z-index: -1;">
                                <a href="javascript:" id="dl" onclick="login_Image()">
                                    <div id="log_div"
                                         style="width: 40px;height: 40px;border: 1px #dfdfdf solid;text-align: center;background-color:#dfdfdf;margin-top: 14px;margin-right: 3px;">
                                        <span style="display: inline-block;vertical-align: middle;margin-top: 10px">登录</span>
                                    </div>
                                </a>
                                <!--                            <a href="javascript:" id="dl" onclick="login_Image()"></a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="layui-nav layui-bg-blue" lay-bar="disabled" style="border-radius: 4px">
                    <li class="layui-nav-item "><a style="font-size: 18px;color: #F40;" th:href="@{/}">首页</a></li>
                    <li class="layui-nav-item "><a style="font-size: 18px" th:href="@{/lost}">浏览寻物贴</a></li>
                    <li class="layui-nav-item "><a style="font-size: 18px" th:href="@{/find}">查看招领贴</a></li>
                    <li class="layui-nav-item "><a style="font-size: 18px" th:href="@{/success}">成功案例</a></li>
                    <li class="layui-nav-item "><a style="font-size: 18px" target="_blank"
                                                   th:href="@{/grateful}">感谢信</a></li>
                </ul>
                <div class="layui-row "
                     style="margin-top: 5px;border-top-right-radius: 4px;border-top-left-radius:4px; ">
                    <div class="layui-col-xs12">
                        <div class="grid-demo grid-demo-bg1" style="text-align: center;">

                            <div style="margin: auto">
                                <ul class="_li" style="text-align: center;">

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-xs1">
            <div class="grid-demo" style="color: white;">.</div>
        </div>
    </div>

    <div id="tile" style="width: 100%;height: 70px;">
        <!--    <div id="demo7" style="text-align: center;margin-top: 30px;"></div>-->
    </div>

    <div class="footer"
         style="height: 40px;text-align: center;font-size: 12px;color: #b6bac3;margin-top: 10px;padding-bottom: 60px">
        <span style="line-height: 3em; color: #666;">电话:&nbsp;400-629-9999&nbsp;&nbsp;&nbsp;&nbsp;邮箱:&nbsp;1793925141@qq.com</span><br>
        ©2021 Lost and found | 服务协议 | 权利声明 | 版本更新 | 帮助中心 | 版权投诉 | 招领系统开发小组所有
    </div>
</div>

<!--<div style="width: 50px;height: 50px;background-color: red;position:absolute; z-index: 999999" >-->
<!--    sdfiosdhf-->
<!--</div>-->
<div style="color: #1E9FFF"></div>
</body>


<script>
    function loading(msg) {
        layer.msg(msg, {
            icon: 16,
            shade: [0.3, '#ececee'],//遮罩的颜色与透明度
            time: 300  //取消自动关闭
        })
    }
</script>
<!--意见反馈-->
<div class="site-text" id="window" style="margin: 5%; display: none" target="test123">
    <form class="layui-form" id="book" lay-filter="example" method="post">
        <div class="layui-form-item">
            <div class="">
                <textarea autocomplete="off" class="layui-textarea" id="text1" lay-verify="title" name="text1"
                          placeholder="输入你的意见与建议" style="height: 140px;font-size: 16px" type="text"></textarea>
            </div>
        </div>
    </form>
</div>


<script>
    layui.use('flow', function () {
        var flow = layui.flow,
            laypage = layui.laypage,
            util = layui.util;
        // $ = layui.jquery;

        // util.fixbar({
        //     css: {right: 50, bottom: 80}
        //     , bgcolor: '#1E9FFF'
        // });

        util.fixbar({
            bar1: true
            // , bar2: true
            , css: {right: 50, bottom: 80}
            , bgcolor: '#1E9FFF'
            , click: function (type) {
                if (type === 'bar1') {
                    // layer.msg('icon 是可以随便换的');
                    layer.open({
                        type: 1,
                        title: "意见反馈",
                        area: ["500px", "300px"],
                        btn: ['提交', '取消'], //可以无限个按钮
                        Number: 9000000,   //自动关闭的时间
                        anim: 2,
                        maxmin: false, // 最大最小化。
                        resize: false, // 是否允许拉伸
                        content: $("#window"), //添加表单到弹出层
                        yes: function (index, layero) {

                            let text = $('#text1').val();

                            $.ajax({
                                type: "get",
                                url: '/feed/add?text=' + text,
                                async: true,
                                dataType: "json",
                                contentType: "application/json;charset=UTF-8",
                                success: function (src) {
                                    if (src.bool) {
                                        layer.msg(src.msg + ',感谢你的反馈');
                                        setTimeout(function () {
                                            $('#text1').val("");
                                            layer.closeAll(); //关闭所有弹窗
                                        }, 800);
                                    } else {
                                        layer.msg(src.msg);
                                    }
                                }
                            })
                            console.log(text);
                        },
                        end: function () {

                            $('#text1').val("");
                        }

                    })

                }
            }
        });


        let count;
        let text = "";
        let test = "";
        let time = '';
        $(document).keyup(function (event) {
            if (event.keyCode === 13) {
                $('#inp').trigger("click");
            }
        });


        $("#inp").click(function () {
            text = $("#text").val();
            test = $('#test option:selected').val();
            time = $('#time option:selected').val();
            // console.log({text: text, test: test});
            coUnt();

            setTimeout(function () {
                send();
            }, 400);

        })

        function coUnt() {
            // console.log({text: text, test: test});

            $.ajax({
                type: "get",
                url: '/post/count?status=' + 2 + "&lab_name=" + test + "&text=" + text + "&time=" + time + "&post_status1=" + 2,
                async: true,
                dataType: "json",
                contentType: "application/json;charset=UTF-8",
                success: function (res) {
                    count = res.data;
                    if (count > 25) {
                        $('#tile').html('<div id="demo7" style="text-align: center;margin-top: 30px;"></div>');
                    } else {
                        $('#tile').html('<div></div>');
                    }
                    loading("加载中");    //开始加载
                    $("#text").val("");

                }
            })
        }

        setTimeout(coUnt, 0)  //延迟0.5秒执行


        function send() {

            // console.log({text: text, test: test});
            laypage.render({
                elem: 'demo7'
                , count: count
                , limits: [25, 50]
                , limit: 25
                , layout: ['prev', 'page', 'next', 'skip', 'count', 'limit']
                , first: '首页' //不显示首页
                , last: '尾页' //不显示尾页
                , groups: 3 //显示 3个连续页码
                , jump: function (obj) {
                    // console.log(obj);
                    let page = obj.curr;
                    let limit = obj.limit;
                    // console.log({page: page, limit: limit});
                    $.ajax({
                        type: 'get',
                        url: '/post/plist?status=' + 2 + "&page=" + page + "&limit=" + limit + "&lab_name=" + test + "&text=" + text + "&time=" + time + "&post_status1=" + 2,
                        dataType: 'json',
                        async: true,
                        contentType: 'application/json;charset=UTF-8',
                        success: function (src) {
                            // console.log(src.data);
                            let list = src.data;

                            let html = '';
                            let st = '';
                            $.each(list, function (index, item) {
                                // console.log(item);
                                if (item.post_status1 === 0) {
                                    html += '   <li v-for="site in sites" class="layui-col-space15">\n' +
                                        '       <div class="layui-col-md2  layui-col-sm4" id="ha"\n' +
                                        '            style="top: 20px;right: 20px;margin-left: 20px;margin-right: 20px;margin-bottom: 26px;background-color: white;height: 335px;width: 270px;left: 20px;">\n' +
                                        '           <div class="cmdlist-container">\n' +
                                        '               <a href="text?t=' + item.post_id + '"  target="_blank">\n' +
                                        '                   <img src=' + item.post_image + ' height="220px" width="257px"/>\n' +
                                        '                   <hr/>\n' +
                                        '                   <a href="text?t=' + item.post_id + '" target="_blank">\n' +
                                        '                       <div class="cmdlist-text">\n' +
                                        '                           <div class="price">\n' +
                                        '                               <b style="float: left;color: #F40">' + item.lab_name + '</b><b\n' +
                                        '                                   style="float: right;color: #888;font-size: 9pt">待领取</b>\n' +
                                        '                           </div>\n' +
                                        '                       </div>\n' +
                                        '                   </a>\n' +
                                        '               </a>\n' +
                                        '           </div>\n' +
                                        '           <hr/>\n' +
                                        '           <div style="height: 30px;width: 100%;">\n' +
                                        '               <p class="info"\n' +
                                        '                  style="word-break:break-all;text-overflow:ellipsis;  white-space:nowrap;   overflow:hidden;">\n' +
                                        '                   ' + item.post_substance + '</p>\n' +
                                        '           </div>\n' +
                                        '           <div style="float: left"><span >捡到：</span>\n' + item.post_found_time +
                                        '           </div>\n' +
                                        '       </div>\n' +
                                        '    </li>\n'
                                } else {
                                    html += '   <li v-for="site in sites" class="layui-col-space15">\n' +
                                        '       <div class="layui-col-md2  layui-col-sm4" id="ha"\n' +
                                        '            style="top: 20px;right: 20px;margin-left: 20px;margin-right: 20px;margin-bottom: 26px;background-color: white;height: 335px;width: 270px;left: 20px;">\n' +
                                        '           <div class="cmdlist-container">\n' +
                                        '               <a href="text?t=' + item.post_id + '" target="_blank">\n' +
                                        '                   <img src=' + item.post_image + ' height="220px" width="257px"/>\n' +
                                        '                   <hr/>\n' +
                                        '                   <a href="text?t=' + item.post_id + '" target="_blank">\n' +
                                        '                       <div class="cmdlist-text">\n' +
                                        '                           <div class="price">\n' +
                                        '                               <b style="float: left;color: #F40">' + item.lab_name + '</b><b\n' +
                                        '                                   style="float: right;color: #888;font-size: 9pt">待领取</b>\n' +
                                        '                           </div>\n' +
                                        '                       </div>\n' +
                                        '                   </a>\n' +
                                        '               </a>\n' +
                                        '           </div>\n' +
                                        '           <hr/>\n' +
                                        '           <div style="height: 30px;width: 100%;">\n' +
                                        '               <p class="info"\n' +
                                        '                  style="word-break:break-all;text-overflow:ellipsis;  white-space:nowrap;   overflow:hidden;">\n' +
                                        '                   ' + item.post_substance + '</p>\n' +
                                        '           </div>\n' +
                                        '           <div style="float: left"><span >丢失：</span>\n' + item.post_found_time +
                                        '           </div>\n' +
                                        '       </div>\n' +
                                        '    </li>\n'
                                }
                            })
                            $('._li').html(html);
                        }
                    })

                }
            });
        }

        setTimeout(send, 500)  //延迟0.5秒执行


        //实现超过一定时间去除账号
//         let lastTime = new Date().getTime();
//         let currentTime = new Date().getTime();
//         const timeOut = 1 * 60 * 1000; //设置超时时间： 15分
// // const timeOut = 20 * 60 * 1000; //设置超时时间： 20分
//
//         $(function () {
//             /* 鼠标移动事件 */
//             $(document).mouseover(function () {
//                 lastTime = new Date().getTime(); //更新操作时间
//
//             });
//         });
//
//         function toLoginPage() {
//             currentTime = new Date().getTime(); //更新当前时间
//             if (currentTime - lastTime > timeOut) { //判断是否超时
//                 $.cookie("to", '0');
//                 $.cookie("data", '0');
//                 // $.cookie("to1", '12','','/');
//                 document.cookie = 'to1=;path=/';
//                 sessionStorage.setItem("bool", 0);
//                 sessionStorage.setItem('cook', '1');
//                 console.log("===================================");
//                 console.log("===================================");
//                 console.log("===================================");
//             }
//         }
//
//         /* 定时器
//         * 间隔1秒检测是否长时间未操作页面
//         */
//         window.setInterval(toLoginPage, 1000);


    })


    //登录按钮
    function login_Image() {

        console.log("登录");
        window.location = '/login';
    }

    let bool = sessionStorage.getItem("bool");
    if (bool === '1') {
        $.post("/for/user/name", function (src) {
            $("#image").attr('src', src.data.user_image);
            sessionStorage.setItem("img", src.data.user_image);
            sessionStorage.setItem("name", src.data.user_name);
        });
        $("#img").html('<ul class="layui-nav" lay-bar="disabled" style="background-color: white;padding: 0;">' +
            '<li class="layui-nav-item" lay-unselect="">\n' +
            '    <a href="javascript:;" style="padding-right: 0;"><img src="" id="image" height="40" width="40" style="border: 1px #dfdfdf solid;margin-top: 14px;margin-right: 3px;"></a>\n' +
            '    <dl class="layui-nav-child">\n' +
            '        <dd><a href="/personal" target="_blank">个人中心</a></dd>\n' +
            '        <dd style="text-align: center;" id="exit"><a href="">退出</a></dd>\n' +
            '    </dl>\n' +
            '</li>' +
            '</ul>'
        );
    }
    $('#exit').click(function () {
        sessionStorage.setItem("bool", "0");
        $.cookie("data", 0);
        setTimeout(function () {
            window.location.replace('/');
        }, 400);

    })

</script>


</html>