<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style type="text/css">
    .main {
        height: 100%;
        width: 100%;
        position: fixed;
        background-color:blanchedalmond;
    }
    .mytable{
        background-color:grey;
        width: 400px;
        height: 200px;
        margin: auto;
        border: 2px solid blue;
        position: absolute;
        top:20%;
        left: 40%;
    }
</style>
<body>
<div class="main">
    <form>
        <table class="mytable">
            <tr><td colspan="2" align="center">登录界面</td></tr>
            <tr>
                <td>用户登录名:</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>登录密码：</td>
                <td><input type="password" name="pass"></td>
            </tr>
            <tr><td></td>
                <td><a href="zhuce.html"><input type="button" value="注册"></a>
                  <a href="index.html"><input type="button" value="登录"></a>
                    <input type="reset" value="重置" /></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>