<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 自动扫描  @Controller 与 swagger.java -->
    <context:component-scan base-package="com.edu.controller.*,com.edu.config"/>
    <!--    <context:component-scan base-package="com.edu.controller.front"/>-->


    <mvc:resources mapping="swagger-ui.html" location="classpath:/META-INF/resources/"/>
    <mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/"/>
    <!--    配置springMVC注解驱动，自动注册合适的组件handlerMapping和handlerAdapter-->
    <mvc:annotation-driven/>
    <!--    <mvc:annotation-driven />-->
    <!--过滤静态资源-->
    <mvc:default-servlet-handler/>
    <!--使用代理的时候一定要扫秒代理包-->
    <aop:aspectj-autoproxy/>
    <context:component-scan base-package="com.edu.aop"/>
    <aop:aspectj-autoproxy proxy-target-class="true"/>


    <!--        模板引擎-->
    <bean id="viewResolver" class="org.thymeleaf.spring5.view.ThymeleafViewResolver">
        <property name="order" value="1"/>
        <property name="characterEncoding" value="UTF-8"/>
        <property name="templateEngine" ref="templateEngine"/>
    </bean>
    <!-- templateEngine -->
    <bean id="templateEngine" class="org.thymeleaf.spring5.SpringTemplateEngine">
        <property name="templateResolver" ref="templateResolver"/>
    </bean>

    <bean id="templateResolver" class="org.thymeleaf.spring5.templateresolver.SpringResourceTemplateResolver">
        <property name="prefix" value="/WEB-INF/templates/"/>
        <property name="suffix" value=".html"/>
        <property name="templateMode" value="HTML5"/>
        <property name="characterEncoding" value="UTF-8"/>
        <property name="cacheable" value="false"/>
    </bean>
    <!--登录拦截-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.edu.intercept.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--时间格式的转换-->
    <!--    <mvc:annotation-driven>-->
    <!--        <mvc:message-converters>-->
    <!--            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">-->
    <!--                <property name="objectMapper">-->
    <!--                    <bean class="com.fasterxml.jackson.databind.ObjectMapper">-->
    <!--                        <property name="dateFormat">-->
    <!--                            <bean class="java.text.SimpleDateFormat">-->
    <!--                                <constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss " />-->
    <!--                            </bean>-->
    <!--                        </property>-->
    <!--                    </bean>-->
    <!--                </property>-->
    <!--            </bean>-->

    <!--        </mvc:message-converters>-->

    <!--    </mvc:annotation-driven>-->


</beans>